<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Books</title>
</head>
<body>
    <form method="post" action="/books">
        <input placeholder="Enter Book title" name="title"><br><br>
        <textarea placeholder="Enter Author Name" name="author"></textarea><br>
        <textarea placeholder="Enter Book Description" name="description"></textarea><br>
        <textarea placeholder="Enter Published Year" name="published_year"></textarea><br>
        <textarea placeholder="Enter Genre" name="genre"></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>